
.modal__icon--close{
    display: block;
    position: absolute;
    font-size: 30px;
    border: none;
    border-radius: 2rem;
    outline: none;
    top: 15px;
    right: 25px;
    background-color: none;
    color: #F3EFE1;
    cursor: pointer;
}

