@use 'src/styles/vars';

.flex{
  width: 100%;
  display: flex;
  gap:10%;
  margin: 1rem auto;
  
}
.modal--button{
  width: 45%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: vars.$secondColor;
  background-color: vars.$mainColor;
  border: vars.$secondColor 2px solid;  
  transition: all 1s;
  &:hover{
    color: vars.$mainColor;
    background-color: vars.$secondColor;
    border: vars.$mainColor 2px solid;  
  }
}

.input__container{

  color: vars.$mainColor;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap:1rem;
  max-height: 80vh;
  
  
  & label{
    
    text-align: center;
    margin-bottom: -0.3rem;
  }

  & input {

    border-radius: 0.5rem;
    border: vars.$mainColor 1px solid;
    padding: 0.5rem;
    width: 80%;
    display: block;
    margin: auto;
  }
  &-overflow{
    overflow: auto;

    & label{
      display: block;
      text-align: center;
      margin-bottom: 0.3rem;
      margin-top: 0.3rem;
    }
  
    & input {
  
      border-radius: 0.5rem;
      border: vars.$mainColor 1px solid;
      padding: 0.5rem;
      width: 80%;
      display: block;
      margin: auto;
    }
  }
}

.modal__container{

  font-family: vars.$fontFamily;
  font-size: vars.$fontSize;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  border: none;
  outline: none;
  border-bottom: 3px solid #7c7a7a;
  overflow: hidden;

}
.search__modal {

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  padding: 1rem 1.5rem;
  max-width: 24rem;
  width: 80vw;
  border-radius: 0.5rem;
  color: black;
  
}

.login__form{
  width: 100%;
  margin: auto;
  text-align: center;

  &--subscribe{

    cursor: pointer;
    color: black;
    text-align: center;
    margin: auto;
    margin-bottom: 0.5rem;
    transition: all 0.5s;
    &:hover{

      color: vars.$mainColor;

    }
  }
}

.login__form--button{

  font-family: vars.$fontFamily;
  font-size: 1.5rem;
  padding: 0.3rem 2rem;
  background-color: vars.$mainColor;
  border-radius: 0.5rem;
  border: vars.$mainColor 2px solid;
  color: white;
  width: 100%;
  margin: auto;
  margin-top: 0.3rem;
  transition: all 0.5s ;
  

  &:hover{
    background-color: white;
    color: vars.$mainColor;
    border: vars.$mainColor 2px solid;

  }
}
.signUp{
  width: 80%;
  margin: auto; 
  margin-top: 0.6rem;
}

.log__button{

  font-family: 'Amatic SC', cursive;
  border-radius: 0.5rem;
  font-size: 2rem;
  margin: 0.5rem 0;
  background-color: transparent;
  border: 1px solid vars.$secondColor;
  color: vars.$secondColor;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  &:hover{
    color: vars.$dark-color;
    background-color: vars.$secondColor;
    border: vars.$mainColor 1px solid;
  }
    
}
@media screen and (min-width:768px){


  .signUp{
    margin-top: 0.6rem;
    margin-left: 2rem;
  }
  
.login__form{
  
  display: flex;
  justify-content: space-between;
  max-width: 50%;
  & a {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    width: 50%;
  }

  &--logged{
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin: auto;
    margin-left: 1.7rem;
    transition: all 0.5s;
    &:hover{
      
      color: #AB7341;
    }
  }
  }



.log__button{

  font-family: 'Amatic SC', cursive;
  border-radius: 0.5rem;
  margin-left: 2rem;
  font-size: 2rem;
  background-color: transparent;
  border: 1px solid vars.$secondColor;
  color: vars.$secondColor;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  &:hover{
    color: vars.$dark-color;
    background-color: vars.$secondColor;
    border: vars.$mainColor 1px solid;
  }
    
}
.search__modal {

  width: 24rem;

}
}
// .modal__icon{

//   position: absolute;
//   margin-left: 2rem;
//   font-size: 2rem;
//    top: 3rem;

//   &--close{
//     display: block;
//     position: absolute;
//     font-size: 30px;
//     border: none;
//     border-radius: 2rem;
//     outline: none;
//     top: 15px;
//     right: 25px;
//     background-color: none;
//     color: #F3EFE1;
//     cursor: pointer;
//   }
// }
