@use 'src/styles/vars';

.search{
  &__autocomplete{
    line-height: 1.5rem;
    font-family: 'Amatic SC', cursive;
    font-size: 1.75rem;
    color: black;
  }

  &__icon,
  &__icon-unlogged{
    
    cursor: pointer;
    position: fixed;
    top: 1.5rem;
    z-index: 5;
    right: 3.5rem;

    & svg {

      margin-right: 0.5rem;
      width: 1.8rem;
      height: 1.8rem;
      color: vars.$secondColor;
      
    }
  }
}


.search input {
  height: 60px;
  width: 100%;
  min-width: 100%;
  padding: 1rem;
  border-radius: 0;
  font-size: 1.75rem;
  margin-top: 2rem;
  background-color: transparent;
  color: black;
  font-family: vars.$fontFamilyText;
  font-size: vars.$fontSize * 0.7 !important;
  text-align: center;
  border: none;
  outline: none;
  border-bottom: 3px solid #7c7a7a;
 
  
}

.search__autocomplete--link{

  margin-top: 0.5rem;

  &:hover{
    color: vars.$mainColor;
  }

}
@media screen and (min-width:768px) {
  .search{

    &__autocomplete{
      line-height: 1.5rem;
      font-family: 'Amatic SC', cursive;
      font-size: 1.75rem;
      color: black;
    }
  
    &__icon{
      
      cursor: pointer;
      position: absolute;
      top: 0.7rem;
      right: 3rem;
      z-index: 2;
      right: 2rem;
  
      & svg {
  
        margin-right: 0.5rem;
        width: 1.8rem;
        height: 1.8rem;
        color: vars.$secondColor;
        
      }
  }
  &__icon-unlogged{
      
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 3rem;
    z-index: 2;
    right: 2rem;

    & svg {

      margin-right: 0.5rem;
      width: 1.8rem;
      height: 1.8rem;
      color: vars.$secondColor;
      
    }
}
  }
  
  
  .search input {
    height: 60px;
    width: 100%;
    min-width: 100%;
    padding: 1rem;
    border-radius: 0;
    font-size: 1.75rem;
    margin-top: 2rem;
    background-color: transparent;
    color: black;
    border: none;
    outline: none;
    border-bottom: 3px solid #7c7a7a;
   
    
  }
  
  .search__autocomplete--link{
  
    
  
    &:hover{
      color: vars.$mainColor;
    }
  
  }
}
