@use 'src/styles/vars';

.search{
  &__autocomplete{
  font-family: 'Amatic SC', cursive;
  font-size: 1.75rem;
  color: black;
  }

 &__icon{
  cursor: pointer;
}
}


.search input {
  height: 60px;
  width: 100%;
  min-width: 100%;
  padding: 1rem;
  border-radius: 0;
  font-size: 1.75rem;
  margin-top: 2rem;
  background-color: transparent;
  color: black;
 
  border: none;
  outline: none;
  border-bottom: 3px solid #7c7a7a;
 
  
}

.search__autocomplete--link{

  &:hover{
    color: vars.$mainColor;
  }

}

