// https://www.local.bio/

$mainColor: #0f3f12;
$titleColor: #09270b;
$secondColor : #ffffff;
$backColor : #e4e1cd;
$borderColor: #D2D2D2;

// https://lacavedelaria.com/collections/vins-bio/products/en-passant
// https://rennes.lesfermiersducoin.fr/fruits-legumes/

// $mainColor: #6C321C;
// $titleColor: #3a1b0f;
// $secondColor : #fff;
// $backColor : #F5F4ED;
// $borderColor: #D2D2D2;

$fontColor: #fff;
$fontSize: 1rem;

$fontFamily: "Ubuntu Mono" ;

$gutter: 1rem;

$maxWidth: 1200px;
