@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

// Generic
$primary-color: #1E6C5B;
$alt-color: #75B2B8;
$dark-color: #AB7341;
$light-color: #F3EFE1;
$gutter: 2rem;

// Global
$global-font: 'Roboto', sans-serif;
$global-font-weight: 300;

// Title
$title-font: 'Oswald', sans-serif;
$title-font-weight: 500;
$title-color: #000;

// Post
$post-text-color: #666;
$post-hover-color: #f7f7f7;
