// @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

// Generic
$primary-color: #1E6C5B;
$alt-color: #75B2B8;
$dark-color: #AB7341;
$light-color: #F3EFE1;
$gutter: 2rem;

// Global
$global-font: 'Roboto', sans-serif;
$global-font-weight: 300;

// Title
$title-font: 'Oswald', sans-serif;
$title-font-weight: 500;
$title-color: #000;

// Post
$post-text-color: #666;
$post-hover-color: #f7f7f7;
// https://www.local.bio/

$mainColor: #0f3f12;
$titleColor: #09270b;
$secondColor : #ffffff;
$backColor : #e4e1cd;
$borderColor: #D2D2D2;

// https://lacavedelaria.com/collections/vins-bio/products/en-passant
// https://rennes.lesfermiersducoin.fr/fruits-legumes/

// $mainColor: #6C321C;
// $titleColor: #3a1b0f;
// $secondColor : #fff;
// $backColor : #F5F4ED;
// $borderColor: #D2D2D2;

$fontColor: #fff;
$fontSize: 1rem;

$fontFamily: "Ubuntu Mono" ;

// $gutter: 1rem;

$maxWidth: 1200px;
