@use 'src/styles/vars';
body{
  background-color: vars.$dark-color-back;

}
.app {
  margin: auto;
  font-family: vars.$fontFamily;

}

.text{
  font-family: vars.$fontFamilyText;
  font-size: vars.$fontSize*0.6;
  line-height: 1.3rem;
}

.titlePage{
    margin-top: 2rem;
    margin-bottom: -2.5rem;
    font-weight: bold;
    text-align: center;
    font-size: vars.$fontSize*2;
    color: vars.$mainColor;
}

@media screen and (min-width: 768px){

  .titlePage{
      margin-top: 3rem;
      font-size: vars.$fontSize*2.5;
  }
}
  



