.Category{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2vw;
}
 
.CategoryCard{
  width: 90vw;
  height:90vw;
  
  & a:hover{
    color: aqua;   
    }
  
  &--button{
    height: 90%;
    width: 90%;
    margin: auto;
    padding: auto;
    position: relative;
    background-color:#CE7B5B;
    border-radius: 20vw;
   
    &-title{
      font-size: 14vw;
      position:absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50% , -50%);
      transition: color 1.5s;
    }
  }
}
@media screen and (min-width: 600px){

 
  .CategoryCard{
    width: 44vw;
    height:44vw;
    
    &--button{
      height: 90%;
      width: 90%;
      margin: auto;
      position: relative;
      background-color:#CE7B5B;
      border-radius: 10vw;
  
      &-title{
        font-size: 7vw;
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
      }
    }
    
  }
}


