@use 'src/styles/vars';
.Category{
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-basis: 50%;
  align-items: center;
  gap: 2rem;
}

.Category__container-title{
  margin-top: 2rem;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: vars.$mainColor;
}
 
.CategoryCard{
  
  width: 40%;
  margin: auto;
  color: vars.$secondColor;
  background-size: contain;
  
  &--button{
    width: 100%;
    margin: auto;
    border-radius: 3rem;
    transition: all 1.5s;
    background-size: cover;
    background-position: center;
    
    &:hover{
      -ms-transform: scale(1.1) translate(0px); /* IE 9 */
      -webkit-transform: scale(1.1) translate(0px); /* Safari 3-8 */
      transform: scale(1.03) translate(0px);
      }
    &:hover{
      box-shadow: rgb(0, 0, 0) 0px 20px 60px -10px;
    }
    & h2{
      background-color: rgba(255, 251, 251, 0.068);
    }
    &-title{
      font-size: vars.$fontSize * 1.2;
      padding: 3.5rem 0 ;
      text-align: center;
      margin: auto;
      transition: color 1.5s;
      
    }
    
  }
}

@media screen and (min-width: 350px){
  .Category{
    

    .CategoryCard{
  
      width: 45%;
      
    }
  }
}
@media screen and (min-width: 768px){
.Category__container-title{
    font-size: 5rem;
    margin-bottom: 1rem;
    color: vars.$mainColor;
}
.Category{
  gap: 1rem;
}
 
  .CategoryCard{
    width: 47%;
    
    
    &--button{
      
      width: 100%;
      margin: 1rem auto ;
      position: relative;
      border-radius: 4rem;
  
      &-title{
        font-size: vars.$fontSize * 2;
        padding:7rem 0 ;
        text-align: center;
        font-size: 3.5rem;
      }
    }
    
  }
}
