@use 'src/styles/vars';

.Product{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2vw;
}

.ProductCard{
  width: 45vw;
  height: 67.5vw;

  &--image{
    width: 75%;
    margin: auto;
    margin-top: 2vw;
    overflow: hidden;
    padding-top: 4vw;

    &-effect{
      overflow: hidden;
      border-radius: 5vw;
    }
      
    & img{
      
      border-radius: 5vw;
      width: 100%;
      transition: transform 1s;
      &:hover{
        -ms-transform: scale(1.1) translate(0px); /* IE 9 */
        -webkit-transform: scale(1.1) translate(0px); /* Safari 3-8 */
        transform: scale(1.1) translate(0px);
        }
    }
  }

  &--button{
    height: 90%;
    width: 90%;
    margin: auto;
    position: relative;
    background-color: vars.$secondColor;
    border-radius: 10vw;
    transition: box-shadow 1.5s;
    &:hover{
      box-shadow: rgb(0, 0, 0) 0px 20px 60px -10px;
    }
    &-button{
      font-family: vars.$fontFamily;
      height: 6vw;
      border-radius: 4vw;
      border: none;
      text-align: center;
      font-size: 4vw;
      width: 80%;
      position:absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50% , -50%);
      
      &:hover{
        border:rgb(0, 0, 0) 3px solid;
      }
    }
    &-title{
      width: 100%;
      position:absolute;
      top: 56%;
      left: 50%;
      transform: translate(-50% , -50%);
      font-size: 6vw;
      text-align: center;
      

      &-price{
        font-size: 4vw;
        top: 65%;
      }
    }
    &-available_none{
      display: none;
    }

    &-available{
      border-radius: 2vw;
      position:absolute;
      top: 92%;
      left: 50%;
      transform: translate(-50% , -50%);
      font-size: 4vw;
      text-align: center;
      padding: 0.5vw 1.5vw ;
      background-color: rgb(163, 60, 60);

    }

  }
}
@media screen and (min-width: 600px){

 
  .ProductCard{
    width: 22vw;
    height:33vw;
    
    &--button{
      height: 90%;
      width: 90%;
      margin: auto;
      position: relative;
      
      border-radius: 5vw;
  
      &-title{
        font-size: 3vw;
        line-height: 2.5vw;
        &-price{
          font-size: 2vw;
          top: 65%;
        }
      }
      
      &-button{
        height: 3vw;
        border-radius: 2vw;
        text-align: center;
        width:80%;
        font-size: 1.8vw;
        position:absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50% , -50%);
        &:hover{
          border:black 2px solid;
        }
      }
      &-available{
        border-radius: 2vw;
        position:absolute;
        top: 92%;
        left: 50%;
        transform: translate(-50% , -50%);
        font-size: 1.8vw;
        text-align: center;
        padding: 0.5vw 1.5vw ;
        background-color: rgb(163, 60, 60);
  
      }
    }
    &--image{
       padding-top: 2vw;
      
      & img{
        border-radius: 3vw;
      }
    }
  }
}
