@use 'sass:color';
@use '../../styles/vars';
@import '../../styles/media-queries';



.menu {
  background: #1E6C5B;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1000px) / 2);
  z-index: 10;
  font-family: 'Amatic SC', cursive;

  
  &--logo{
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
  }

  &--hamburger{
    display:none;
    color: #F3EFE1;
      @media screen and (max-width: 768px){
        display: block;
        position: absolute;
        top: 0;
      }
  }

  &--searchbar{
    height: 3rem;
    width: auto;
    border-radius: 0.5rem;
    display: inline-block;
  
  }
  &--link {
    color: #F3EFE1;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    display: inline;
    font-size: 2em;
    flex-basis: 33%;
    line-height: 2vw;

    &:hover {
      color: #AB7341;
      transition: all 0.3s ease;
  }
  }

  &--user {
    display: flex;
    text-align: right;
    flex-basis: 33%;
    line-height: 2vw;
    
  }

  &--button {
    padding: 12px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #75B2B8;
    margin-left: 16px;
    color: #1E6C5B;
    font-size: 1.5em;

    &:hover {
      background: #F3EFE1;
      transition: all 0.3s ease;
    }
  }
}
