
.modal__icon--close{
    display: block;
    position: absolute;
    font-size: 30px;
    border: none;
    border-radius: 2rem;
    outline: none;
    top: 15px;
    right: 25px;
    background-color: none;
    color: #F3EFE1;
    cursor: pointer;
}
.login {
  font-family: 'Amatic SC', cursive;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;

  &__background{
    background-color: #F3EFE1;
    height: 80%;
    padding: 10rem;
  }
  &__title{
    font-size: 3rem;
    text-align: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  
    &--input {
      min-width: 380px;
      padding: 22px 0px;
      padding-left: 15px;
      margin-bottom: 10px;
      outline: none;
      border: 1px solid rgba (0,0,0,0.24);
      font-family: "Inter";
      border-radius: 2px;
      font-size: 15px;
    }
    &--submit{
      min-width: 200px;
      padding: 17px 30px;
      margin-top: 20px;
      background: black;
      border: none;
      color: white;
      font-size: 14px;
      font-weight: bold;
      border-radius: 5px;
    }
  }
}

