@use 'src/styles/vars';
.login__form-link{
  position: absolute;
  width: 4rem;
  right: -0.8rem;
  top: 1rem;
  &-panier{
    width: 60%;
  }
  &-nbPanier{
    position: absolute;
    font-family: vars.$fontFamilyText;
    top: 2rem;
    left: 1.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: #EFEFEF;
    background-color: vars.$mainColor;
    padding: 0.2rem;
    border-radius: 50px;
    text-align: center;
  }
}
.container__header{

  height: 9.9vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: vars.$mainColor;
  position:relative;
}

.navbar{

  background-color: vars.$mainColor;
  position: fixed;
  height:10vh;
  width: 100%;
  z-index: 4;
  justify-content: space-between;
  align-items: center;
  color: vars.$secondColor;
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  height: 5rem;
  border-bottom: #fff 0.1px solid;

  &--connect{
    
    background-color: vars.$mainColor;
    border-radius: 0.5rem;
    border: vars.$mainColor 2px solid;
    color: white;
    width: 50%;
    margin: auto;
    margin-bottom: 0.6rem;
    transition: all 0.5s ;
    text-align: center;
    
    &:hover{
      background-color: white;
      color: vars.$mainColor;
      border: vars.$mainColor 2px solid;
      
    }
  }

  
  &__logo{
    position: absolute;
    top: 6vh;
    left: 50%;
    transform: translate(-50% ,-50%);
    margin: auto;
    
    & img{
    width: 17vh;
    border-radius: 1em;
    margin-left:-1em;
    }
  }

  &__search{

    display: none;
    align-items: center;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: vars.$mainColor;
    color: #F3EFE1;
  }

  &__links{

    top: 0px;
    display: none;
    & a:hover{
      color: #AB7341;
    }

    &--mobile{
      border-top: white 1px solid;
      border-bottom: white 1px solid;
      position: absolute;
      z-index: 4;
      display: block;
      background-color: #75B2B8;
      left: 0;
      top: 10.5vh;
      transition: all 0.5 ease-out;
      width: 100%;
    }
    
    
    &--home, &--products, &--account, &--about{

      text-align: center;
      width: 100%;
      transition: all 0.5 ease-out;
      margin-top: 1.5rem;
      padding-bottom: 0.5rem;
    }
    
  }
  &__mobile--icon{

    display: block;
    position: absolute;
    font-size: 30px;
    border: none;
    outline: none;
    top: 15px;
    left: 25px;
    background-color: vars.$mainColor;
    color: #F3EFE1;

  }

}

@media screen and (min-width:768px) {

  .login__form-link{
    position: fixed;
    width: 2.5rem;
    right: 2rem;
    transform: translate(0%,0%);
    top: 2.6rem;
    padding: 0 0.2rem;
    padding-top: 0.3rem;
    background-color: vars.$mainColor;
    border-radius: 50px;
    &-panier{
      width: 100%;
    }
    &-nbPanier{
      font-family: vars.$fontFamilyText;
      top: 1.90rem;
      right:0rem;
      position: fixed;
      font-size: 0.8rem;
      font-weight: bold;
      color: #EFEFEF;
      background-color: vars.$mainColor;
      padding: 0.2rem;
      border-radius: 50px;
    }
  }
  .container__header{

    width: 100%;
    height: 6rem;
  }
  .navbar{
    z-index: 1;
    display: flex;
    height: 6rem;
    border-bottom: vars.$mainColor 0.5px solid;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    max-width: 1200px;
    
    &--connect{
      margin-left: 10%;
      width: 50%;
      margin-top: 1rem;
      text-align: center;
      transition: all 1s;

      &:hover{
        color: #AB7341;
        cursor: pointer;
      }
    }
    &__logo{
      top: 3.1rem;
      
      & img{
        width: 10rem;
      }
      
    }
    &__links{
      display: block;
      display: flex;
      
      align-items: center;
      width: 80%;
      padding-bottom: 0.5rem;

      & a:hover{

        color: #AB7341;
      }

      &--home, &--about { 
        padding-bottom: 1.5rem;
        flex-basis:  25%;
        transition: all 0.5s;
      }
      &--about {
        margin-right: 10%;
        transition: all 0.5s;
      }
      &--mobile{

        display: none;
      }
      
      &--account{
        
        border: 1px solid #AB7341;
        border-radius: 5px;
        cursor: pointer;
        transition: all 2s;
        &:hover{

          background-color: #F3EFE1;
          color: #AB7341;
        }
      }
    }
    &__mobile--icon{

      display: none;
    }
  
    }
  }
