@use 'sass:color';
@use '../../styles/vars';

%align-center {
  display: flex;
  align-items: center;
}

.menu {
  background: #1E6C5B;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1000px) / 2);
  z-index: 10;

  &--searchbar{
    height: 3rem;
    width: auto;
    border-radius: 0.5rem;
  
  }
  &--logo{
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
  }

  &--link {
    color: #F3EFE1;
    @extend %align-center;
    justify-content: center;
    text-decoration: none;
    padding: 0 3rem;
    display: inline;
    align-items: center;
    vertical-align: center;

    &:hover {
      color: #AB7341;
      transition: all 0.3s ease;
  }
  }

  &--user {
    display: flex;
    text-align: right;
  }

  &--button {
    padding: 12px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #75B2B8;
    margin-left: 16px;
    color: #1E6C5B;

    &:hover {
      background: #F3EFE1;
      transition: all 0.3s ease;
    }
  }
}

li {
  display: inline-block;

}
