@use 'src/styles/vars';

.carousel-track{
  overflow: hidden;
}
.Carousel{
  max-width: 1100px;
  
  margin: auto;
  display: block;
  
  &--div{
    position: relative;
    width: 100vw;
    height: 11rem;
    min-height: 100%;
    overflow: hidden;
    margin: auto;
    background-color: #37A646;
    & h3{
      font-weight: 600;
      max-width:60%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 2;
      background: rgba(54, 25, 25, .5);
      padding: 1rem;
      color: azure;
      border-radius: 1rem;
      text-align: center;
    }
    & img{
      position: absolute;
      margin: auto;
      width: 101%;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}
@media screen and (min-width: 768px){
  .Carousel{
    margin-top: 1rem;
    height: 24rem;
    
    &--div{
      height: 22rem;
      overflow: hidden;
      border-radius: 2rem;
    }
    & h3{
      
      font-size:  vars.$fontSize * 1.3;
    }
    & img{
      position: absolute;
      max-width: 1200px;
      
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      
    }
   
}
}
@media screen and (max-width: 337px){
  .Carousel{
    display: none;
  }
  
}
