.footer {
  padding-top: 2vw;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2vw;
  
  &--logo {
    display: none;
  }
  &--contact{
    
    font-size: 3vw;
    flex-basis: 50%;
    font-size: 4vw;
    background-color: #424C6D;
    border-radius: 3vw;
    color: aliceblue;
    width: 100%;
    height: 80%;

    &-contact{
      margin: 1.5vw ;

      &__list{
        margin-left: 2vw;
        width: 90%;
      }
    }
    &-reseaux{
      margin: 1vw;
      &__list{
        margin-left: 1vw;
        
      }
    }
  }
}

@media screen and (min-width: 600px){
  .footer {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1vw;
  
  
    &--logo {
      display: block;
      flex-basis: 33%;
      & img{
        max-width:80%;
        margin: auto;
      }
    }
    &--contact{
      height: 15vw;
      font-size: 1.8vw;
      flex-basis: 33%;
      line-height: 2vw;
      background-color: #424C6D;
      border-radius: 3vw;
      color: aliceblue;
      
  
      &-contact{
        margin: 1vw;
  
        &__list{
          margin-left: 1vw;
          width: 90%;
          
        }
      }
      &-reseaux{
        margin: 1vw;
        &__list{
          margin-left: 1vw;
          
        }
      }
    }
  }
}
