@use 'src/styles/vars';

.footer {
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2vw;
  
  &--logo {
    display: none;
  }
  &--contact{
    
    font-size: 3vw;
    flex-basis: 50%;
    font-size: 4vw;
    background-color: vars.$mainColor;
    border-radius: 3vw;
    
    width: 100%;
    height: 80%;

    &-contact{
      margin: 1.5vw ;

      &__list{
        margin-left: 1vw;
        width: 90%;
        & img {
          width: 3vw;
        }
      }
    }
    &-reseaux{
      margin: 1vw;
      &__list{
        margin-left: 1vw;
        & img {
          width: 10vw;
        }
      }
    }
  }
}

@media screen and (min-width: 600px){
  .footer {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1vw;
  
  
    &--logo {
      display: block;
      flex-basis: 33%;
      & img{
        width:80%;
        margin: auto;
      }
    }
    &--contact{
      height: 15vw;
      font-size: 1.8vw;
      flex-basis: 33%;
      line-height: 2vw;
      background-color: vars.$mainColor;
      border-radius: 3vw;
      
      
  
      &-contact{
        margin: 1vw;
  
        &__list{
          margin-top: 1vw;
          margin-left: 0.5vw;
          font-size: 1.5vw;
          width: 90%;
          & img {
            width: 1.5vw;
          }
        }
      }
      &-reseaux{
        margin: 1vw;
        &__list{
          display: flex;
          margin: 2vw;
          justify-content: space-around;
          & img {
            
            width: 5vw;
          }
        }
      }
    }
  }
}
