.footer {
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  gap:1vw;


  &--logo {
    flex-basis: 33%;
    & img{
      max-width:80%;
      margin: auto;
    }
  }
  &--contact{
    flex-basis: 33%;
    line-height: 2vw;
    background-color: #1E6C5B;
    border-radius: 15px;
    color: aliceblue;

    &-contact{
      margin: 1vw;

      &__list{
        margin-left: 1vw;
        width: 90%;
        
      }
    }
    &-reseaux{
      margin: 1vw;
      &__list{
        margin-left: 1vw;
        
      }
    }
  }
}
