@use 'src/styles/vars';

.ProductDetail{
  width: 100%;
}
.ProductDetailCard{
  background-color: vars.$mainColor;
  
  display:flex;
  flex-direction: column;

  &--image{
    padding: 2vw;
    flex-basis: 50%;
    overflow: hidden;
    
    & img{
      border-radius: 6vw;
      width: 100% ;
   }
   
  }
  &--detail{
    flex-basis: 50%;
  }
}



@media screen and (min-width: 600px){

  .ProductDetailCard{
    flex-direction: row;
      & img{
        border-radius: 3vw;
        width: 100% ;
      }
    }

}
