.Familly{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2vw;
}

.FamillyCard{
  width: 45vw;
  height:45vw;

  &--image{
    width: 75%;
    margin: auto;
    padding-top: 4vw;
    
    & img{
      border-radius: 5vw;
      margin: auto;
      width: 100%;
      
    }
  }

  &--button{
    height: 90%;
    width: 90%;
    margin: auto;
    position: relative;
    background-color:#CE7B5B;
    border-radius: 10vw;

    &-title{
      text-align: center;
      font-size: 4vw;
      width: 80%;
      position:absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50% , -50%);
    }
  }
}
@media screen and (min-width: 600px){

 
  .FamillyCard{
    width: 22vw;
    height:22vw;
    
    &--button{
      height: 90%;
      width: 90%;
      margin: auto;
      position: relative;
      background-color:#CE7B5B;
      border-radius: 5vw;
  
      &-title{
        text-align: center;
        width:80%;
        font-size: 1.8vw;
        position:absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50% , -50%);
      }
    }
    &--image{
      padding-top: 2vw;
      
      & img{
        border-radius: 3vw;
      }
    }
    
  }
}
