

@use 'src/styles/vars';

.Familly{
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  flex-basis: 50%;
  align-items: stretch;
}

.FamillyCard{
  margin: auto;
  width: 50%;

  &--image{
    width: 75%;
    margin: auto;
    margin-top: 2rem;
    overflow: hidden;
    padding-top: 1rem;
    &-effect{
      overflow: hidden;
      border-radius: 1rem;
    }
      
    & img{
      width: 100%;
      border-radius: 1em;
      width: 100%;
      transition: transform 1s;
      &:hover{
        -ms-transform: scale(1.1) translate(0px); /* IE 9 */
        -webkit-transform: scale(1.1) translate(0px); /* Safari 3-8 */
        transform: scale(1.1) translate(0px);
        }
      
    }
  }


  &--button{
    height: 90%;
    width: 90%;
    margin: auto;
    position: relative;
    background-color:vars.$secondColor;
    border-radius: 1rem;
    transition: all  2s;
    &:hover{
      box-shadow: rgb(0, 1, 2) 0px 20px 30px -10px;
      color: vars.$mainColor;
    }

    &-title{
      text-transform: uppercase;
      color: vars.$mainColor;
      margin: auto ;
      padding: 0.5rem 0 ;
      width: 90%;
      text-align: center;
      font-size: vars.$fontSize * 1.2;
      transition: color 1.5s;
    }  
  }
}

@media screen and (min-width: 768px){
  .Familly{
   
    margin-top: 2rem;
}
.FamillyCard{
  margin: auto;
  width: 25%;
    
    &--button{
      min-height: 16rem;
      width: 90%;
      margin: auto;
      position: relative;
      border-radius: 1rem;
  
      &-title{
        padding-top: 2rem;
        text-align: center;
        width:95%;
        
      }
    }
    &--image{

      &-effect{
        height: 8rem;
        overflow: hidden;
        
        & img{
        max-height: 8rem;
        border-radius: 1rem;
      }
      }
      
      
    }
    
  }
}

